<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hywm.mapper.EmployeeMapper">

    <select id="selectEmployByName" resultType="employee">
        select * from employee where username = #{username}
    </select>

    <insert id="insertEmploy" parameterType="employee">
        insert into employee (id,username,NAME,PASSWORD,phone,sex,id_number,create_time,update_time,create_user,update_user)
        VALUES (#{id},#{username},#{name},#{password},#{phone},#{sex},#{idNumber},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>

    <select id="selectAllEmployee" resultType="employee">
        select * from employee
    </select>

    <select id="selectEmployeeLikeName" resultType="employee">
        select * from employee where name like #{name}
    </select>

    <select id="selectEmployById" resultType="employee">
        select id,username,NAME,phone,sex,id_number as idNumber from employee where id = #{id}
    </select>

    <update id="editEmployeeById" parameterType="employee">
        update employee set update_user = #{updateUser},update_time = #{updateTime}
        <if test="status !=null and status !='' " >
            ,status = #{status}
        </if>
        <if test="username !=null and username !='' " >
           ,username = #{username}
        </if>
        <if test="name !=null and name !='' " >
            ,name = #{name}
        </if>
        <if test="sex !=null and sex !='' " >
            ,sex = #{sex}
        </if>
        <if test="idNumber !=null and idNumber !='' " >
            ,id_number = #{idNumber}
        </if>
        <if test="phone !=null and phone !='' " >
            ,phone = #{phone}
        </if>
        where id = #{id}
    </update>
</mapper>